<button type="button" class="btn btn-success" data-toggle="modal" data-target="#EditAddManufacturer" (click)="openModel()" style="margin: 50px;">Create New Manufacturer</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Quantity</th>
      <th scope="col">Sensor Id</th>
      
      <th scope="col" colspan="2">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let manufacturer of manufacturerList">
      <th scope="row">{{manufacturer.manufacturer_id}}</th>
      <td>{{manufacturer.quantity}}</td>
      <td>{{manufacturer.sensor.sensor_id}}</td>
      
      <!-- Actions column -->
      <td>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#EditAddManufacturer" (click)="openModel(manufacturer)">Edit</button>
      </td>
      <td>
        <button type="button" class="btn btn-danger" (click)="deleteManufacturer(manufacturer.manufacturer_id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="EditAddManufacturer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Manufacturer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="quantity">Quantity</span>
          </div>
          <input type="text" class="form-control" [(ngModel)]="newManufacturer.quantity">
        </div><br>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="sensorSelect">Sensors</label>
          </div>
          <select class="custom-select" id="sensorSelect" [(ngModel)]="sensorIdVar">
            <option selected>Choose...</option>
            <option *ngFor="let sensor of sensorList" [value]="sensor.sensor_id">{{ sensor.sensor_id }}</option>
          </select>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" *ngIf="creatingMode" (click)="createManufacturer()">Create Manufacturer</button>
        <button type="button" class="btn btn-primary" *ngIf="!creatingMode" (click)="modifyManufacturer()">Modify Manufacturer</button>
      </div>
    </div>
  </div>
</div>
