<button type="button" class="btn btn-success" data-toggle="modal" data-target="#EditAddField" (click)="openModel()" style="margin: 50px;">Create New Field</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Department Name</th>
      
      <th scope="col" colspan="2">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let field of fieldList">
      <th scope="row">{{field.field_id}}</th>
      <td>{{field.name}}</td>
      <td>{{field.department.department_name}}</td>
      
      <!-- Actions column -->
      <td>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#EditAddField" (click)="openModel(field)">Edit</button>
      </td>
      <td>
        <button type="button" class="btn btn-danger" (click)="deleteField(field.field_id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="EditAddField" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Field</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="name">Name</span>
          </div>
          <input type="text" class="form-control" [(ngModel)]="newField.name">
        </div><br>
        
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="departmentSelect">Departments</label>
          </div>
          <select class="custom-select" id="departmentSelect" [(ngModel)]="departmentIdVar">
  			<ng-container *ngIf="!departmentIdVar">
    		<option selected disabled hidden>Choose...</option>
  			</ng-container>
  			<option *ngFor="let department of departmentList" [value]="department.department_id">{{ department.department_id }}</option>
		  </select>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" *ngIf="creatingMode" (click)="createField()">Create Field</button>
        <button type="button" class="btn btn-primary" *ngIf="!creatingMode" (click)="modifyField()">Modify Field</button>
      </div>
    </div>
  </div>
</div>
